{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name | default('') }}!{% endblock %}

{% block body %}
    <style>

    </style>
    <div class="row justify-content-right align-items-right">
    <div style="position: absolute; left: 90%;">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </div>
    </div>

    <div class="example-wrapper">
        <h2 class="page-header">Szczegóły artykułu</h2>
        <table class="table table-striped">
            <thead>
            <tr>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="col">Tytuł</th>
                <td scope="row">{{ singleArticle.title }}</td>
            </tr>
            <tr>
                <th scope="col">Opis</th>
                <td scope="row">{{ singleArticle.content | striptags | raw }}</td>
            </tr>
            <tr>
                <th scope="col">Data dodania</th>
                <td scope="row">{{ singleArticle.pubDate|date("l jS \of F Y G:i:s") }}</td>
            </tr>
            <tr>
                <th scope="col">zdjęcie</th>
                <td scope="row">
                    {% if singleArticle.photo.path is defined %}
                        <img class="article-image-list" src="{{ asset(singleArticle.photo.path, 'photos') | default('no_image.png')}}"/>
                    {% else %}
                        <img class="article-image-list" src="{{ asset('no_image.png')}}"/>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-success btn-block" onclick="history.back()">Powrót</button>
                </td>
            </tr>
            </tbody>
        </table>
        {% if not app.user %}
            <p><a href="{{ path('fos_user_security_login') }}">Zaloguj się</a> aby dodawać komentarze.</p>
            {% include "main/comment.html.twig" %}
        {% else %}
            <div class="comment_form_contener">
                {{ form_start(commentForm) }}
                <div style="text-align: center; font-weight: bolder">
                    {{ form_label(commentForm.content, 'Dodaj komentarz') }}
                </div>
                {{ form_errors(commentForm.content) }}
                {{ form_widget(commentForm.content, { 'attr': {'style' : 'width:100%;', 'rows' : '5'} }) }}
                {{ form_widget(commentForm.submit, { 'attr': {'style' : 'width:100%;', 'rows' : '5', 'class' : 'btn btn-block btn-lg btn-primary'} }) }}
                {{ form_end(commentForm) }}
            </div>
            <br>
            {% include "main/comment.html.twig" %}
        {% endif %}

    </div>

{% endblock %}