{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name | default('') }}!{% endblock %}

{% block body %}
    <style>

    </style>

    <div class="example-wrapper">
        <h2 class="page-header">Szczegóły artykułu</h2>
        <table class="table table-striped">
            <thead>
            <tr>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="col">Tytuł</th>
                <td scope="row">{{ singleArticle.title }}</td>
            </tr>
            <tr>
                <th scope="col">Opis</th>
                <td scope="row">{{ singleArticle.content | striptags | raw }}</td>
            </tr>
            <tr>
                <th scope="col">Data dodania</th>
                <td scope="row">{{ singleArticle.pubDate|date("l jS \of F Y G:i:s") }}</td>
            </tr>
            <tr>
                <th scope="col">zdjęcie</th>
                <td scope="row">
                    {% if singleArticle.photo.path is defined %}
                        <img class="article-image-list" src="{{ asset(singleArticle.photo.path, 'photos') | default('no_image.png')}}"/>
                    {% else %}
                        <img class="article-image-list" src="{{ asset('no_image.png')}}"/>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-success btn-block" onclick="history.back()">Powrót</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}