{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name | default('') }}!{% endblock %}

{% block body %}
    <style>

    </style>

    <div class="example-wrapper">
        <h2 class="page-header">Szczegóły artykułu</h2>
        <table class="table table-striped">
            <thead>
            <tr>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="col">Tytuł</th>
                <td scope="row">{{ singleArticle.title }}</td>
            </tr>
            <tr>
                <th scope="col">Opis</th>
                <td scope="row">{{ singleArticle.content | striptags | raw }}</td>
            </tr>
            <tr>
                <th scope="col">Data dodania</th>
                <td scope="row">{{ singleArticle.pubDate|date("l jS \of F Y G:i:s") }}</td>
            </tr>
            <tr>
                <th scope="col">zdjęcie</th>
                <td scope="row"><img class="article-image-list" src="{{ asset(singleArticle.photo.path, 'photos') | default(asset('no_image.png')) }}"/></td>
            </tr>
            <tr>
                <td>
                    <a href="{{ app.request.headers.get('referer') }}" class="btn btn-success btn-block">Powrót</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}