{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>

</style>

{% if my_pager.NbResults > 0 %}
    <div class="example-wrapper">
        <div class="pagerfanta">
            {{ pagerfanta(my_pager, 'twitter_bootstrap4', { 'omitFirstPage': true}) }}
            {% for item in my_pager.currentPageResults %}
                <ul class="style-ul">
                    <li><a href="{{ path('displayOneArticle', {'slug': item.slug, 'id': item.id}) }}">{{ item.title }}</a></li>
                    <li>
                        {{ item.content | striptags | raw |truncate(50, true) }}
                    </li>
                    <li>{{ item.pubDate|date("d-m-Y G:i:s") }}</li>
                    {% if item.photo.path is defined %}
                        <li><img class="article-image-list" src="{{ asset(item.photo.path, 'photos') | default('no_image.png')}}"/></li>
                    {% else %}
                        <li><img class="article-image-list" src="{{ asset('no_image.png')}}"/></li>
                    {% endif %}
                </ul>
            {% endfor %}
            {{ pagerfanta(my_pager, 'twitter_bootstrap4', { 'omitFirstPage': true}) }}
        </div>
    </div>
{% else %}
    <div>
        <p style="position: absolute; top: 50%; margin: 0 45%; width: 15%;">W bazie nie ma artykułów.</p>
    </div>
{% endif %}

{% endblock %}
